* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img,
fieldset,
iframe {
  border-style: none;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  /* background-color: rgb(0, 132, 37); */
}

.content {
  width: 1230px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 180px;
  height: 50px;
  background-image: url("/src/assets/img/logo.png");
  background-size: cover;
}

.search-bar {
  width: 340px;
  height: 35px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 30px;
}

.search-icon {
  width: 25px;
  height: 25px;
  background-image: url("/src/assets/img/icon-search.png");
  margin-top: 7px;
  margin-left: 20px;
  float: left;
}

.search {
  width: 270px;
  height: 25px;
  outline: none;
  border: none;
  margin-left: 15px;
  margin-top: 6px;
}

.side-menu {
  width: 125px;
  height: 50px;
  line-height: 50px;
  display: flex;
  margin-top: 15px;
}

.side-menu button {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.menu-mypage,
.menu-logout,
.menu-logIn,
.menu-membership {
  width: 80px;
  display: flex;
  justify-items: center;
}

.menu-mypage,
.menu-logIn {
  margin-right: 15px;
}

.menu-mypage-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-mypage.png");
}

.menu-logout-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-logout.png");
  background-size: cover;
}

.menu-login-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-login.png");
  background-size: cover;
}

.menu-membership-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-membership.png");
}

.menu-mypage-text,
.menu-logout-text,
.menu-login-text,
.menu-membership-text {
  font-size: 11px;
  opacity: 0;
}

.menu-mypage-img:hover + .menu-mypage-text,
.menu-logout-img:hover + .menu-logout-text,
.menu-login-img:hover + .menu-login-text,
.menu-membership-img:hover + .menu-membership-text {
  opacity: 1;
}

.content-wrap {
  width: 800px;
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
}

.keyword {
  width: 80px;
  height: 38px;
  border: 1px solid #303030;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  margin-right: 30px;
}

.text-wrap {
  height: 65px;
}

.text-wrap p:nth-child(1) {
  color: #8e8e8e;
  font-weight: bold;
}

.book-icon {
  width: 68px;
  height: 68px;
  /* background-color: #8e8e8e; */
  background-image: url("/src/assets/img/icon-book.png");
  float: left;
}

.today-wrap p {
  float: left;
  font-weight: bold;
  font-size: 40px;
  line-height: 68px;
}

.sub-text span {
  font-weight: bold;
}

.book-img {
  width: 350px;
  height: 420px;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 50px;
}

.center-title-wrap {
  width: 300px;
  float: left;
}

.bottom-icons {
  width: 24px;
  height: 24px;
  float: left;
}

.center-title-right-wrap {
  width: 800px;
  float: right;
}

.center-right-wrap {
  font-size: 20px;
  float: right;
}

.center-right-title {
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0;
}

.center-right-box {
  width: 800px;
  height: 173px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  box-shadow: 3px 2px 10.3px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.center-right-p {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin-right: 20px;
}

.center-right-text p:nth-child(1) {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.center-right-text p:nth-child(2) {
  font-size: 13px;
}

.center-right-text p:nth-child(3) {
  font-size: 12px;
}

/* footer */
.footer {
  width: 100%;
}

.footer-top {
  width: 100%;
  height: 95px;
  background-color: #67785a;
}

.footer-container {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
}

.footer-container p {
  margin-right: 50px;
}

.footer-bottom {
  width: 100%;
  height: 400px;
  background-color: #004f14;
}

.footer-content {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 190px;
  height: 47px;
  background-color: #8b8b8b;
  margin-right: 200px;
}

.footer-info {
  width: 455px;
  height: 200px;
  color: white;
  font-size: 15px;
  margin-right: 200px;
}

.footer-compony {
  margin-bottom: 20px;
}

.footer-left-text {
  width: 100px;
  height: 150px;
  float: left;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.footer-right-text {
  width: 250px;
  height: 150px;
  float: right;
  display: flex;
  flex-direction: column;
}

.footer-left-text p,
.footer-right-text p {
  flex: 1;
}

.footer-customer {
  width: 260px;
  color: white;
  font-size: 20px;
}

.footer-name,
.footer-number {
  font-weight: bold;
}

.footer-number {
  font-size: 40px;
}

.footer-left-mon {
  display: flex;
  flex-direction: column;
  float: left;
}

.footer-right-time {
  display: flex;
  flex-direction: column;
  float: right;
}

.footer-left-mon p,
.footer-right-time p {
  flex: 1;
}

/* login */
.sub-img {
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
}

.login-wrap {
  width: 430px;
  height: 500px;
  border: 1px solid #4d4d4d;
  border-radius: 20px;
  margin: 80px auto;
  padding: 30px;
  box-sizing: border-box;
}

.login-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-title span {
  color: #00822b;
}

.input-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
}

.id,
.pw {
  width: 330px;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.login-toggle-visibility {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 35px;
  top: 100px;
  cursor: pointer;
}

.login-button {
  width: 330px;
  height: 60px;
  border: none;
  margin-top: 35px;
  background-color: #d9d9d9;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.login-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 13px;
  margin-top: 20px;
}

.log-in,
.find-id {
  margin-right: 20px;
  cursor: pointer;
}

.log-in:hover,
.find-id:hover {
  color: rgb(78, 78, 78);
}

.member-number-text {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 530px;
}

/* member */
.number {
  float: left;
}

.require {
  float: right;
  line-height: 30px;
  font-size: 12px;
}

.require span {
  color: red;
  font-weight: bold;
  margin-right: 5px;
}

.member-wrap {
  width: 550px;
  height: 600px;
  border: 1px solid #4d4d4d;
  border-radius: 20px;
  margin: 80px auto;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.member-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}

.member-text-wrap {
  width: 450px;
  display: flex;
  margin: 20px auto 10px auto;
}

.icon-check-basic {
  display: none;
}

.icon-check-all,
.icon-check,
.icon-check2 {
  width: 20px;
  height: 20px;
  background-image: url("/src/assets/img/icon-check.png");
  background-position: center;
  border-radius: 50px;
  border: 2px solid #bebebe;
  color: #bebebe;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* 체크되었을 때 스타일 변경 */
.icon-check-basic:checked + label .icon-check-all,
.icon-check-basic:checked + label .icon-check,
.icon-check-basic:checked + label .icon-check2 {
  background-image: url("/src/assets/img/icon-check-color.png");
  background-color: #004f14;
  position: relative;
  border: 2px solid #004f14;
}

.member-text,
.member-top-text {
  font-weight: bold;
  font-size: 14px;
}

.member-top-box {
  width: 460px;
  height: 150px;
  border: 1px solid #d0d0d0;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.member-top-wrap {
  width: 460px;
  display: flex;
  margin-bottom: 10px;
}

.member-top-con {
  width: 420px;
  height: 80px;
  background-color: #ebebeb;
  margin: 0 auto;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 12px;
  overflow: auto;
}

.member-top-con p:nth-child(1) {
  margin-bottom: 10px;
}

.member-check {
  width: 460px;
  height: 100px;
  background-color: #d9d9d9;
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.member-check:hover {
  background-color: #b0b0b0;
}

/* memberLogin */
.member-input-wrap {
  width: 500px;
  height: 40px;
  line-height: 40px;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 30px;
}

.member-input-text {
  width: 120px;
  float: left;
  /* color: #a9a9a9; */
}

.member-input-text p {
  float: left;
}

.member-input-text p:nth-child(2) {
  color: red;
}

.mem-id,
.mem-pw,
.mem-name,
.mem-nickName,
.mem-email {
  width: 260px;
  height: 40px;
  border: 1px solid #797979;
  float: right;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 12px;
}

.toggle-visibility {
  width: 15px;
  height: 15px;
  position: relative;
  left: -20px;
  cursor: pointer;
}

.id-check-wrap,
.password-wrap {
  height: 60px;
  position: relative;
}

.id-CheckMessage,
.member-pwCheck {
  font-size: 12px;
  position: absolute;
  bottom: -10px;
}

.id-CheckMessage.success,
.member-pwCheck.success {
  color: green;
}

.id-CheckMessage.error,
.member-pwCheck.error {
  color: red;
}

.id-check {
  width: 80px;
  margin-left: 20px;
  border: none;
  background-color: #d9d9d9;
}

.id-check:hover {
  background-color: #b0b0b0;
  cursor: pointer;
}

.member-pwCheck {
  font-size: 12px;
}

.member-button-wrap {
  display: flex;
  justify-content: center;
  /* margin-top: 80px; */
}

.mem-cancel:hover,
.mem-ok:hover {
  background-color: #b0b0b0;
  cursor: pointer;
}

.mem-cancel,
.mem-ok {
  height: 50px;
  background-color: #d9d9d9;
  border: none;
  display: block;
  border-radius: 5px;
}

.mem-cancel {
  margin-right: 15px;
  width: 70px;
}

.mem-ok {
  width: 120px;
}

/* popup */
.popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

.popup-box {
  width: 650px;
  height: 500px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 25px;
  box-sizing: border-box;
}

.popup-container {
  height: 350px;
  overflow: auto;
  margin-bottom: 10px;
  scrollbar-width: thin;
}

.popup-title-wrap {
  height: 30px;
  display: flex;
  margin-bottom: 10px;
}

.popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.popup-sub-p {
  font-size: 12px;
  color: #878787;
  /* line-height: 30px; */
}

/* .popup-title p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.popup-title p:nth-child(2) {
  font-size: 12px;
  color: #878787;
  line-height: 30px;
} */

.popup-sub-title {
  font-size: 17px;
  margin-bottom: 15px;
}

.popup-con {
  width: 580px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.popup-con li {
  width: 135px;
  height: 35px;
  background-color: #dadada;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-con li:hover {
  background-color: #9c9c9c;
  color: white;
}

.popup-con li.selected {
  background-color: #008314;
  color: white;
}

.button-pick {
  width: 90px;
  height: 40px;
  background-color: #dadada;
  display: block;
  border: none;
  color: black;
  float: right;
  cursor: pointer;
}

.button-pick.active {
  color: white;
  background-color: #008314;
}

/* memberKeyword */
.keyword-wrap {
  width: 1200px;
  margin: 0 auto;
}

.keyword-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.keyword-container p:nth-child(1) {
  color: #888888;
  font-size: 12px;
}

.keyword-container p:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
}

/* .keyword-con-wrap {
  height: 900px;
} */

.keyword-nav {
  /* height: 900px; */
  float: left;
  margin-bottom: 50px;
}

.keyword-nav-title {
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.keyword-nav-title:hover {
  color: #464646;
}

.keyword-nav-sub {
  /* height: 700px; */
  /* background-color: #00822b; */
  /* display: flex; */
  /* gap: 5px; */
  overflow: hidden;
  /* max-height: 0; */
  flex-direction: column;
  transition: max-height 0.3s ease-in-out;
  color: #3d3d3d;
  margin-bottom: 10px;
  cursor: pointer;
}

.keyword-nav-sub li {
  font-size: 13px;
  cursor: pointer;
}

.keyword-nav-sub li:hover {
  color: #000000;
}

.keyword-box-wrap {
  width: 900px;
  float: right;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 50px;
}

.keyword-box {
  width: 160px;
  cursor: pointer;
}

.keyword-img {
  width: 160px;
  height: 200px;
  border: 1px solid #d9d9d9;
  box-shadow: 3px 2px 9.6px 1px rgba(193, 193, 193, 1);
  margin-bottom: 15px;
}

.keyword-img img {
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.keyword-img img:hover {
  opacity: 0.8;
}

.keyword-text {
  /* display: flex;
  flex-direction: column; */
}

.keyword-text p:nth-child(1) {
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
}

.keyword-text p:nth-child(2) {
  font-size: 13px;
}

/* keywordDetail */
.detail-wrap {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box;
}

.detail-img-wrap {
  width: 250px;
  float: left;
}

.detail-img {
  width: 250px;
  height: 330px;
  background-color: white;
  box-shadow: 3px 2px 15.6px 1px rgba(193, 193, 193, 1);
  border-radius: 20px;
  margin-bottom: 10px;
}

.detail-img img {
  width: 100%;
  height: 100%;
}

.detail-bottom-icon-wrap {
  display: flex;
  float: right;
}

.detail-good-message {
  font-size: 13px;
  margin-right: 5px;
  line-height: 25px;
}

.detail-icon-good {
  width: 20px;
  height: 20px;
  background-image: url("/src/assets/img/icon-good-line.png");
  background-size: cover;
  float: left;
  cursor: pointer;
}

.detail-icon-good:hover {
  background-image: url("/src/assets/img/icon-good-line-hover.png");
}

.detail-icon-good.add {
  background-image: url("/src/assets/img/icon-good-line-hover.png");
}

.detail-icon {
  width: 25px;
  height: 25px;
  background-image: url("/src/assets/img/icon-like-line.png");
  background-size: cover;
  float: left;
  cursor: pointer;
}

.detail-icon.add {
  background-image: url("/src/assets/img/icon-like-line-hover.png");
}

.detail-icon:hover {
  background-image: url("/src/assets/img/icon-like-line-hover.png");
}

.detail-box-wrap {
  float: right;
}

.detail-bookDetail-wrap {
  width: 800px;
  height: 150px;
}

.detail-bookDetail-wrap p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #282828;
}

.detail-bookDetail-wrap p:nth-child(2) {
  font-size: 15px;
  margin-bottom: 20px;
  color: #323232;
}

.detail-bookDetail-wrap p:nth-child(3) {
  font-size: 15px;
  color: #282828;
}

.detail-button {
  width: 180px;
  height: 50px;
  background-color: #2a861e;
  border-radius: 50px;
  display: block;
  color: white;
  border: none;
  margin-top: 100px;
  font-weight: bold;
  font-size: 15px;
}

.detail-button:hover {
  background-color: #3ab62a;
  cursor: pointer;
}

.detail-review {
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0 20px 0;
  color: #323232;
}

.detail-review-wrap {
  width: 800px;
  background-color: #e9e9e9;
  padding: 40px;
  box-sizing: border-box;
}

.detail-scroll-wrap {
  overflow-y: auto;
  scrollbar-width: thin;
  height: 500px;
  margin-bottom: 20px;
}

.detail-scroll-wrap:has(.detail-review-no) {
  height: auto;
}

.detail-top-button-wrap {
  position: relative;
}

.detail-review-box {
  width: 600px;
  height: 160px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 3px 2px 9.6px 0.5px rgba(116, 116, 116, 0.25);
}

.detail-review-button-wrap {
  display: flex;
  justify-content: flex-start;
}

.detail-review-insert-wrap {
  width: 600px;
  min-height: 50px;
  max-height: 100px;
  /* height: auto; */
  border: none;
  display: block;
  outline: none;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  margin-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  resize: none;
  overflow-y: hidden;
}

.detail-review-button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #1e821e;
  color: white;
  cursor: pointer;
  font-size: 13px;
  /* border-radius: 5px; */
}

.detail-review-button:hover {
  background-color: #3ab62a;
}

.detail-review-img {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin-right: 15px;
  float: left;
}

.detail-text-wrap {
  float: left;
}

.detail-text-wrap p:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.detail-text-wrap p:nth-child(2) {
  margin-bottom: 20px;
}

.detail-text-wrap p:nth-child(2),
.detail-text-wrap p:nth-child(3) {
  font-size: 12px;
}

.detail-text-wrap input {
  width: 300px;
  border: none;
  outline: none;
}

.detail-button-wrap {
  height: 30px;
  position: absolute;
  bottom: -5px;
  right: 30px;
}

.detail-button-wrap button {
  border: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.detail-button-wrap button:hover {
  color: #5a5a5a;
}

.detail-button-wrap button:nth-child(1) {
  margin-right: 5px;
}

.detail-review-no {
  font-size: 14px;
  margin-bottom: 20px;
}

/* mypage */
.mypage-wrap {
  width: 1300px;
  height: 1000px;
  margin: 0 auto;
}

.mypage-title {
  padding-top: 50px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.mypage-title p:nth-child(1) {
  font-size: 13px;
  color: #888888;
}

.mypage-title p:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
}

.mypage-info {
  width: 600px;
  height: 240px;
  border-radius: 33px;
  box-shadow: 3px 2px 9.6px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 70px;
}

.mypage-profile-wrap {
  width: 200px;
  height: 100%;
  /* background-color: #004f14; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}

.mypage-img-wrap {
  width: 97px;
  height: 93px;
  background-color: #e7e7e7;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-img {
  width: 50px;
  height: 50px;
  background-image: url("/src/assets/img/icon-profile.png");
}

.mypage-button {
  width: 150px;
  height: 47px;
  background-color: #f3f3f3;
  display: block;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  border: none;
}

.mypage-button:hover {
  background-color: #7b7b7b;
  color: white;
  cursor: pointer;
}

.mypage-text-wrap {
  padding-top: 30px;
  box-sizing: border-box;
  font-size: 17px;
}

.mypage-text-wrap span {
  font-weight: bold;
}

.mypage-list {
  width: 1400px;
  /* height: 430px; */
  border-radius: 33px;
  background-color: white;
  box-shadow: 3px 2px 9.6px 1px rgba(0, 0, 0, 0.25);
  padding: 40px 50px;
  box-sizing: border-box;
}

.mypage-list-title {
  margin-bottom: 40px;
}

.mypage-list-wrap {
  overflow-x: auto;
  white-space: nowrap;
}

.myPage-box {
  width: 730px;
  height: 460px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
}

.mypage-box {
  display: flex;
}

.mypage-box-wrap {
  height: 340px;
}

.mypage-list-img {
  width: 180px;
  height: 230px;
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 3px 2px 9.6px 1px rgba(193, 193, 193, 1);
  margin-right: 40px;
}

.mypage-list-img img {
  width: 180px;
  height: 230px;
}

.mypage-text {
  width: 180px;
  margin-top: 20px;
  white-space: normal;
}

.mypage-text p:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.mypage-text p:nth-child(2) {
  font-size: 11px;
}

/* myPage popup */
.mypage-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

.mypage-popup-text {
  font-size: 23px;
  margin-bottom: 30px;
}

.mypage-popup-profile-wrap {
  float: left;
  height: 300px;
  margin-right: 70px;
}

.mypage-popup-profile-box {
  width: 100px;
  height: 100px;
  background-color: #e7e7e7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-popup-profile-img {
  width: 50px;
  height: 50px;
  background-image: url("/src/assets/img/icon-profile.png");
}

.mypage-popup-con-text {
  float: left;
}

.mypage-popup-con-wrap {
  margin-bottom: 25px;
  /* display: flex; */
}

.mypage-popup-con-title {
  width: 100px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  position: relative;
}

.mypage-popup-con-wrap input {
  width: 180px;
  font-size: 14px;
  margin-top: 5px;
  float: left;
  margin-right: 50px;
  border: none;
  outline: none;
  position: relative;
  margin-bottom: 5px;
}

.mypage-popup-con-wrap input::placeholder {
  color: #353535;
}

.mypage-popup-con-wrap button {
  width: 60px;
  height: 25px;
  border: none;
  background-color: #d9d9d9;
  font-size: 12px;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}

.mypage-popup-con-wrap button:hover {
  background-color: #909090;
  color: white;
}

.mypage-id-CheckMessage {
  width: 180px;
  margin-right: 50px;
  font-size: 12px;
  margin-left: 120px;
}

.mypage-member-pwCheck {
  width: 180px;
  margin-left: 120px;
  font-size: 12px;
}

.mypage-id-CheckMessage.success,
.mypage-member-pwCheck.success {
  color: green;
}

.mypage-id-CheckMessage.error,
.mypage-member-pwCheck.error {
  color: red;
}

.mypage-toggle-visibility {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 200px;
  /* position: relative;
  left: -20px; */
  cursor: pointer;
}

.mypage-button-wrap {
  display: flex;
  margin-bottom: 5px;
}

.mypage-message-wrap {
  display: flex;
}

.mypage-button-wrap button:first-child {
  margin-right: 10px;
}

.mypage-popup-save {
  display: block;
  width: 85px;
  height: 30px;
  background-color: #2a861e;
  color: white;
  border: none;
  /* float: right; */
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 13px;
  cursor: pointer;
}

.mypage-popup-save:hover {
  background-color: #1e6514;
}

.mypage-popup-cancel {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-cancel.png);
  background-size: cover;
  position: absolute;
  top: 40px;
  right: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* MemberKeywordDetailPopup */

.detail-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

.detail-popup-wrap {
  width: 600px;
  height: 350px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 35px;
  box-sizing: border-box;
}

.detail-popup-wrap h3 {
  margin-bottom: 20px;
  color: #2e2e2e;
}

.detail-popup-review-box {
  width: 530px;
  height: 200px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  border-radius: 10px;
  float: left;
  box-shadow: 3px 2px 9.6px 0.5px rgba(116, 116, 116, 0.25);
}

.detail-popup-save {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #1e821e;
  color: white;
  cursor: pointer;
  font-size: 13px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.detail-popup-cancel {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-cancel.png);
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
