/* keywordDetail */
.detail-wrap {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box;
}

.detail-img-wrap {
  width: 250px;
  float: left;
}

.detail-img {
  width: 250px;
  height: 330px;
  background-color: white;
  box-shadow: 3px 2px 15.6px 1px rgba(193, 193, 193, 1);
  border-radius: 20px;
  margin-bottom: 10px;
}

.detail-img img {
  width: 100%;
  height: 100%;
}

.detail-bottom-icon-wrap {
  display: flex;
  float: right;
}

.detail-good-message {
  font-size: 13px;
  margin-right: 5px;
  line-height: 25px;
}

.detail-icon-good {
  width: 20px;
  height: 20px;
  background-image: url("/src/assets/img/icon-good-line.png");
  background-size: cover;
  float: left;
  cursor: pointer;
}

.detail-icon-good:hover {
  background-image: url("/src/assets/img/icon-good-line-hover.png");
}

.detail-icon-good.add {
  background-image: url("/src/assets/img/icon-good-line-hover.png");
}

.detail-icon {
  width: 25px;
  height: 25px;
  background-image: url("/src/assets/img/icon-like-line.png");
  background-size: cover;
  float: left;
  cursor: pointer;
}

.detail-icon.add {
  background-image: url("/src/assets/img/icon-like-line-hover.png");
}

.detail-icon:hover {
  background-image: url("/src/assets/img/icon-like-line-hover.png");
}

.detail-box-wrap {
  float: right;
}

.detail-bookDetail-wrap {
  width: 800px;
  height: 150px;
}

.detail-bookDetail-wrap p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #282828;
}

.detail-bookDetail-wrap p:nth-child(2) {
  font-size: 15px;
  margin-bottom: 20px;
  color: #323232;
}

.detail-bookDetail-wrap p:nth-child(3) {
  font-size: 15px;
  color: #282828;
}

.detail-button {
  width: 180px;
  height: 50px;
  background-color: #2a861e;
  border-radius: 50px;
  display: block;
  color: white;
  border: none;
  margin-top: 100px;
  font-weight: bold;
  font-size: 15px;
}

.detail-button:hover {
  background-color: #3ab62a;
  cursor: pointer;
}

.detail-review {
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0 20px 0;
  color: #323232;
}

.detail-review-wrap {
  width: 800px;
  background-color: #e9e9e9;
  padding: 40px;
  box-sizing: border-box;
}

.detail-scroll-wrap {
  overflow-y: auto;
  scrollbar-width: thin;
  height: 500px;
  margin-bottom: 20px;
}

.detail-scroll-wrap:has(.detail-review-no) {
  height: auto;
}

.detail-top-button-wrap {
  position: relative;
}

.detail-review-box {
  width: 600px;
  height: 160px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 3px 2px 9.6px 0.5px rgba(116, 116, 116, 0.25);
}

.detail-review-button-wrap {
  display: flex;
  justify-content: flex-start;
}

.detail-review-insert-wrap {
  width: 600px;
  min-height: 50px;
  max-height: 100px;
  /* height: auto; */
  border: none;
  display: block;
  outline: none;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  margin-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  resize: none;
  overflow-y: hidden;
}

.detail-review-button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #1e821e;
  color: white;
  cursor: pointer;
  font-size: 13px;
  /* border-radius: 5px; */
}

.detail-review-button:hover {
  background-color: #3ab62a;
}

.detail-review-img {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin-right: 15px;
  float: left;
}

.detail-text-wrap {
  float: left;
}

.detail-text-wrap p:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.detail-text-wrap p:nth-child(2) {
  margin-bottom: 20px;
}

.detail-text-wrap p:nth-child(2),
.detail-text-wrap p:nth-child(3) {
  font-size: 12px;
}

.detail-text-wrap input {
  width: 300px;
  border: none;
  outline: none;
}

.detail-button-wrap {
  height: 30px;
  position: absolute;
  bottom: -5px;
  right: 30px;
}

.detail-button-wrap button {
  border: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.detail-button-wrap button:hover {
  color: #5a5a5a;
}

.detail-button-wrap button:nth-child(1) {
  margin-right: 5px;
}

.detail-review-no {
  font-size: 14px;
  margin-bottom: 20px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: #555;
}
