/* myPage popup */
.mypage-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

.mypage-popup-box {
  width: 730px;
  height: 460px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
}

.mypage-popup-text {
  font-size: 23px;
  margin-bottom: 30px;
}

.mypage-popup-profile-wrap {
  float: left;
  height: 300px;
  margin-right: 70px;
}

.mypage-popup-profile-box {
  width: 100px;
  height: 100px;
  background-color: #e7e7e7;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

.myPage-uploaded-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

/* .mypage-popup-profile-img {
  width: 50px;
  height: 50px;
  background-image: url("/src/assets/img/icon-profile.png");
} */

.mypage-popup-set-box {
  width: 35px;
  height: 35px;
  background-color: #000000;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-popup-set-box:hover {
  background-color: #585858;
  cursor: pointer;
}

.mypage-popup-set-img {
  width: 16px;
  height: 14px;
  background-image: url("/src/assets/img/icon-camera.png");
  background-size: cover;
}

.file-input {
  display: none;
}

.myPage-popup-img-correction {
  display: flex;
}

.myPage-popup-img-correction button {
  height: 30px;
  background-color: #a0a0a0;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border: none;
  margin-top: 5px;
  color: white;
}

.myPage-popup-edit-profile {
  width: 65px;
  margin-right: 5px;
}

.myPage-profile-delete {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myPage-profile-delete img {
  width: 15px;
}

.myPage-popup-img-correction button:hover {
  background-color: #618d70;
  color: white;
}

.mypage-popup-con-text {
  float: left;
}

.mypage-popup-con-wrap {
  margin-bottom: 25px;
  /* display: flex; */
}

.mypage-popup-con-wrap input {
  width: 180px;
  font-size: 14px;
  margin-top: 5px;
  float: left;
  margin-right: 50px;
  border: none;
  outline: none;
  position: relative;
  margin-bottom: 5px;
}

.mypage-popup-con-wrap input::placeholder {
  color: #353535;
}

.mypage-popup-con-wrap button {
  width: 60px;
  height: 25px;
  border: none;
  background-color: #d9d9d9;
  font-size: 12px;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}

.mypage-popup-con-wrap button:hover {
  background-color: #909090;
  color: white;
}

.mypage-popup-con-title {
  width: 100px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  position: relative;
}

.mypage-button-wrap {
  display: flex;
  margin-bottom: 5px;
}

.mypage-message-wrap {
  display: flex;
}

.mypage-button-wrap button:first-child {
  margin-right: 10px;
}
